body {
    margin-top:5px;
    padding-top:5px,;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}

button {
    font-size: 20px;
    font: 15pt Arial, Helvet;  
    background-color: white;
    border: 3px solid;
    border-color: orange;
    border-radius: 20px;
    padding: 15px 25px;
    text-align: center;
    font-weight: bold;
}
button:hover{
    background-color: black;
    color:white;
}

#retreatButton:hover {
    background-color:red;
    color:white;
}
#bottomRow {
    padding:20px;
    font: 20pt Arial;
    text-align: bottom;
    color:white;
  
}
img {
    width : 240px;
}

.bodyContainer{
    display: flex;
   
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: ;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.mainCharacterView{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.nameBox{
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;
}
#playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
   /*background-image: url("player.gif");*/
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-style: oblique;
    font-size:27px;
    font-weight:bolder;
    color:orange;
}

#playerImage:hover {
    background-color:white;}

.playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 12vw;
    height: 8vw;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;
    color:white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#playerHull {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 12vw;
    height: 8vw;
    text-align: center;
    font-size: 2.0em;
    box-shadow: 0px 0px 20px 10px black;
    border-radius: 2%;
    color:white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.enemyImage{
    border: 1px solidblack;
    width: 30vw;
    height: 25vh;
   /* background-image: url("alien.gif");*/
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
        
}
.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 12vw;
    height: 17vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;
    color:white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#enemyHull {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 12vw;
    height: 8vw;
    text-align: center;
    font-size: 2.0em;
    box-shadow: 0px 0px 20px 10px black;
    border-radius: 2%;
    color:white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.alienimg{
    border: 5px dotted
}
.playerimg{
    border: 5px dotted
}
